<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO UPDATE</title>
</head>
<body>
    <h1>UPDATE</h1>
    <form action="/update" method="post">

        <input type="text" name="changeTask" value="<%= task.task %> ">
        <input type="submit" value="Alterar">
        <input type="date" name="date" value="<%= task.date %>">
        <input type="text" name="id" style="display: none;" value="<%= task._id %>">

    </form>



</body>
</html>